@import url("https://fonts.googleapis.com/css2?family=Cherry+Swash:ital,wght@0,400;0,500&family=Space+Grotesk:wght@300;400;500&family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400&display=swap");

 body {
  font-family: 'Space Grotesk';
  font-weight: 300;
	font-size: 15px;
  line-height: 25px;
	margin: 7px;
	/* padding: 0; */
  max-width: 1000px;
	margin: 0px auto;
  /* padding: 0 1rem; */
}

h1, h2, h3, h4 {
  font-family: 'Cherry Swash';
}

a {
  color: blue;
  text-decoration: none;
}

::selection, a:focus, a:hover {
  background-color:blue;
  color: #fff;
}

/* To center images */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 100%;
}

h3 span {
  font-size: 14px;
  font-weight: 200;

}
