pre.highlight>button {
    opacity: 0;
}

pre.highlight:hover>button {
    opacity: 1;
}

pre.highlight>button:active,
pre.highlight>button:focus {
    opacity: 1;
}

.copy {
    font-family: 'Space Grotesk';
    color: #fefefe;
    background-color: gray;
    border: 1px solid #fff;
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    position: relative;
    position: absolute;
    top: 10px;
    right: 10px;
}
/* .copy:active, .copy:focus, .copy:hover {
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
}
:active .copy, :focus .copy, :hover .copy {
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
} */
